html
  head
    title Electra Dance Studio
    block scripts
    block style
      
  body
    nav#navbar 
        ul 
            div#logo
                img(src="/static/img/logo.png")  
                |EDS
            li #[a(href="/") Home ]
            li #[a(href="/") Services ]
            li #[a(href="/") About Us ]
            li #[a(href="/") Class Info ]
            li #[a(href="/contact") Contact Us]
 
    block content

    block foot
      #footer
        | Copyright 2019 Harry Dance Academy | All Rights Reserved
